@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1% 1% 1% 1%;
    border: solid #fff;
    box-shadow: 0px 0px 10px 0 #a9a9a9;
    border-radius: 2px 2px 2px 2px;
    font-size: 30pt;
}

span > a.navbar-link {
    text-decoration: none;
    font-size: 80%;
    color: black;
    margin: 1em;
    transition: all 0.5s;
}

span > a.navbar-link:hover {
    font-size: 95%;
}

@media screen and (max-width:700px) {
    span > a.navbar-link {
        font-size: 80%;
        margin: 0.5em;
    }

    span > a.navbar-link:hover {
        font-size: 90%;
    }
}

@media screen and (max-width:670px) {
    span > a.navbar-link {
        font-size: 60%;
        margin: 0.4em;
    }

    span > a.navbar-link:hover {
        font-size: 70%;
    }
}

@media screen and (max-width:470px) {
    span > a.navbar-link {
        font-size: 50%;
        margin: 0.4em;
    }

    span > a.navbar-link:hover {
        font-size: 60%;
    }
}


/* div principal */
#card {
    position: relative;
    margin-top: 20%;
    display: none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0 #a9a9a9;
    padding-bottom: 2%;
}

/* card for produto */
.card {
    display: grid;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0 #a9a9a9;
    height: 70%;
}

.card-flex {
    display: flex;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0 #a9a9a9;
    height: 70%;
}

.produto {
    display: flex;
    height: 90px;
    margin: 3% 2% 2% ;
}


.card-in {
    background: #000000;
    transition: all 0.4s;
}

.in-card-up{
    position: absolute;
    color: black;
}

div.img-details {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    margin-left: 90%;
}

.card-up {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(to bottom right, #1c1c1c, #2a2a2e);
    align-items: center;
    font-size: 2em;
}

@media screen and (max-width:600px) {
    div.img-details {
        margin-left: 86%;
    }
    .card-up {
        font-size: 1.3em;
    }
}

@media screen and (max-width:558px) {
    div.img-details {
        margin-left: 86%;
    }
    .card-up {
        font-size: 1.3em;
    }
}

@media screen and (max-width:358px) {
    .card-up {
        font-size: 1rem;
    }
}

@media screen and (max-width:308px) {
    .card-up {
        font-size: 1rem;
    }
}


.titulo {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20pt;
}


.img-produto { 
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
}

.btn-card {
    position: relative;
    width: 20%;
    height: 40px;
    margin-top: 5px;
    border-radius: 2px 2x 2px 2px;
    border: none;
    background-color: #1c1c1c;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
/* adicionar a direita no card */
.btn-card-right {
    margin-left: calc(100% -  20% - 2%);
}

.btn-left {
    /* margin-left: calc(100% -  20% - 2%); */
}